%% -*- erlang-indent-level: 2;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 et
%%------------------------------------------------------------------------------

[
  {
    elvis,
    [
      {config,
        [#{dirs => [ "src"
        ],
          filter => "*.erl",
          ignore => [],
          ruleset => erl_files,
          rules => [ {elvis_style, line_length, #{limit => 84}},
                     {elvis_style, invalid_dynamic_call, #{ignore => []}},
                     {elvis_style, variable_naming_convention,
                      #{regex => "^_?([_A-Z][0-9a-zA-Z]*)$|^FUNCTION_NAME$",
                        ignore => []}},
                     {elvis_style, no_debug_call, #{ignore => [],
                                                    debug_functions => [{ct, pal}, {io, format}]}},
                     {elvis_style, used_ignored_variable, #{ignore => []}},
                     {elvis_style, no_tabs, #{ignore => []}},
                     {elvis_style, dont_repeat_yourself, #{min_complexity => 12,
                                                           ignore => []}}
                   ]
        },
          #{dirs => [ "test"
          ],
            filter => "*.erl",
            ruleset => erl_files,
            rules => [{elvis_style, line_length, #{limit => 84}},
                      {elvis_style,
                       variable_naming_convention,
                       #{ regex => "^([_A-Z][_0-9a-zA-Z]*)$" }},
                      {elvis_style, dont_repeat_yourself, #{min_complexity => 22}},
                      {elvis_style, no_debug_call, #{ignore => [],
                                                     debug_functions => [{ct, pal}, {io, format}]}}
                     ]
          },
          #{dirs => ["."],
            filter => "Makefile",
            ruleset => makefiles
          },
          #{dirs => ["."],
            filter => "rebar.config",
            ruleset => rebar_config,
            rules => [{elvis_project, no_deps_master_rebar, #{ignore => []}}]
          },
          #{dirs => ["."],
            filter => "elvis.config",
            ruleset => elvis_config
          }
        ]
      }
    ]
  }
].
